@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
/* @import url(/asset/css/reset.css); */

html { 
    font-size: 62.5%; 
}

body{
    font-size: 1.4rem;
    font-family: 'NanumSquare', 'sans-serif';
    font-weight: 400;
}

/***************************/
[class*="page__inner"]{
    width: 100%;
    max-width: 118.1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.point{
    color: #116a66;
}

.btn01{
    color: #fff;
    border-radius: 0.4rem;
    background-color: #116a66;
}

.btn02{
    color: #116a66;
    border-radius: 0.4rem;
    background-color: #fff;
    border: 1px solid #116a66;
}

.ico-check{
    background-image: url(/asset/img/check_01.png);
    background-repeat: no-repeat;
    background-size: 3rem;
}

.ico-arrowR{
    background-image: url(/asset/img/arrow_right.png);
    background-repeat: no-repeat;
    background-size: 2rem;
}


/*********** header ***********/
header{
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;;
}

header .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo > img{
    display: inline-block;
    width: 13.2rem;
    height: 2rem;
    color: #fff;
    background: url(/asset/img/header_logo.jpg) no-repeat;
    background-size: 100%;
    text-indent: -9999px;
}

header #gnb{
    height: 6rem;
    line-height: 6rem;
}

header #gnb::after{
    content: "";
    display: block;
    clear: both;
}

header #gnb nav{
    font-size: 0;
    float: left;
}

header #gnb .nav-wrapper{
    font-size: 1.4rem;
    position: relative;
    display: inline-block;
    z-index: 100;
}

header #gnb .nav-wrapper + dl{
    margin-left: 1.3rem;
}

header #gnb .nav-wrapper > dt > a{
    height: 100%;
    display: inline-block;
    cursor: pointer;
    padding-left: 1.3rem;
    padding-right: 2rem;
    font-weight: 600;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 2rem;
}

header #gnb .nav-wrapper.on > dt > a{
    color: #116a66;
}

header #gnb .nav-wrapper:not(.on) .depth01{
    background-image: url(/asset/img/arrow_down_01.png);
}

header #gnb .nav-wrapper.on .depth01{
    background-image: url(/asset/img/arrow_up_02.png);
}

header #gnb .nav-wrapper .go-business{
    background-image: url(/asset/img/arrow_diagonal.png);
}

header #gnb .nav-wrapper > dd{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-image: url(/asset/img/arrow_down_01.png);
    background-position: right center;
    background-repeat: no-repeat;
}

header #gnb .nav-wrapper.on > dd{
    display: block;
}

header #gnb .nav-wrapper .depth02-wrapper{
    padding: 0.9rem 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    border-radius: 1rem;
    line-height: 1.4rem;
    background-color: #fff;
}

header #gnb .nav-wrapper .depth02-wrapper .depth02{
    width: 100%;
    display: inline-block;
    padding: 0.9rem 1.8rem;
    box-sizing: border-box;
}

header #gnb .nav-wrapper .depth02-wrapper .depth02:hover{
    color: #116a66;
}

header #gnb .nav-wrapper .depth02-wrapper [class*="sns-"]{
    padding-left: 4.4rem;
    padding-right: 4.4rem;
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: left 1.8rem center;
}

header #gnb .nav-wrapper .depth02-wrapper .sns-kakao{
    background-image: url(/asset/img/sns_kakao.png);
}

header #gnb .nav-wrapper .depth02-wrapper .sns-blog{
    background-image: url(/asset/img/sns_blog.png);
}

header #gnb .nav-wrapper .depth02-wrapper .sns-youtube{
    background-image: url(/asset/img/sns_youtube.png);
}

header #gnb .easy-btns{
    float: left;
    margin-left: 2.8rem;
}

header #gnb .easy-btns > li{
    float: left;
}

header #gnb .easy-btns > li + li{
    margin-left: 1rem;
}

header #gnb .easy-btns > li > a{
    display: inline-block;
    font-weight: 600;
    height: 3.2rem;
    padding: 0 1.6rem;
    line-height: 3.2rem;
    box-sizing: border-box;
}

header #gnb .easy-btns > li > .btn02{
    line-height: calc(3.2rem - 2px);
}

footer .footer__container{
    overflow: hidden;
    padding: 4rem 0;
}

footer .company{
    float: left;
}

footer .company .company__text{
    width: 100%;
    max-width: 48rem;
    padding-top: 4rem;
    background: url(/asset/img/footer_logo.png) no-repeat;
    background-size: 13.2rem;
    font-size: 1rem;
    letter-spacing: -0.2px;
    line-height: 1.8rem;
    word-break: break-all;
}

footer .company .company__link{
    margin-top: 3.3rem;
    display: flex;
}

footer .company .company__link > li + li{
    margin-left: 1.8rem;
}

footer .company .company__link > li img{
    width: 2.6rem;
}

footer .sitemap{
    float: right;
}

footer .sitemap__wrapper{
    overflow: hidden;
}

footer .sitemap__wrapper > li{
    float: left;
}

footer .sitemap__wrapper > li + li{
    margin-left: 4rem;
}

footer .sitemap__wrapper > li dt{
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

footer .sitemap__wrapper > li dd{
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-bottom: 1.1rem;
}





